<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContasApp - controle financeiro</title>

    <!-- bibliotecas CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-secondary">

    <!-- Barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">ContasApp - Controle financeiro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">Acessar Conta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Register">Criar Conta de Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/ForgotPassword">Esqueci minha senha</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo principal -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <!-- local para inserir o conteúdo das páginas -->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bibliotecas JavaScript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
