@{
    //definindo o layout da página
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="text-center">
    <h4>Esqueci minha senha!</h4>
    <p>Informe os dados abaixo para recuperar sua senha de acesso.</p>
    <hr/>
</div>

<form>

    <div class="mb-2">
        <label>Email de acesso:</label>
        <input type="text" class="form-control" placeholder="Ex: joaosilva@gmail.com"/>
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary" value="Recuperar Minha Senha"/>
    </div>

    <div class="mb-2 text-center">
        <a href="/Account/Login">Voltar para a página inicial.</a>
    </div>

</form>